/* styles.css */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: pink solid 1px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header input[type="text"] {
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    border-radius: 0.5em;
}

header button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
} */

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weather-card {
    background-color: #fff;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
    margin-top: 0;
}

.weather-card p {
    margin-bottom: 1em;
}

main{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
h3{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
}

.container{
    position: relative;
    width: 45vw;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*input stuff*/
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }